{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.10.0"},
  {jiffy, "1.1.1"},
  {emodel, "1.6.0"},
  {epgsql, "4.7.1"}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [todosrv]}
]}.

{relx,
  [{release, {todosrv, "0.0.1"}, [todosrv, cowboy, jiffy, emodel, epgsql]},
   {mode, prod},
   {dev_mode, false},
   {include_erts, true}]}.
