{erl_opts, [debug_info]}.

{deps,
 [{cowboy, "2.10.0"},
  {cowboy_session,
   {git, "https://github.com/f1sty/cowboy_session.git", {branch, "master"}}},
  {jiffy, "1.1.1"},
  {epgsql, "4.7.1"}]}.

{project_plugins, [rebar3_format]}.

{shell, [{apps, [todosrv]}]}.

{relx,
 [{release, {todosrv, "0.0.1"}, [todosrv, sasl]},
  {mode, prod},
  {dev_mode, false},
  {include_erts, true}]}.
